
#web_bg{
	background: url("C:\Users\王天华\Desktop\bb9b44aa91bfacda2ddfaef29923d1a.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
#inject
   <head>
   <link rel="stylesheet" href="/css/mycss.css">
   </head>
  
  

